@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Roboto+Slab:wght@400;500;600;700&display=swap');

/* -- Top Navbar -- */

.main-title {
    font-family: 'Roboto Slab', serif;
    margin-left: 10px;
}

.flashes {
    line-height: 2;
}


/* -- Font Styles -- */

h3 {
    font-family: 'Roboto Slab', serif;
    color: rgb(6, 175, 6); 
}

p {
    font-family: 'Montserrat', serif;
}

.card-title {
    font-family: 'Roboto Slab', serif;
}

/* -- card panels -- */

.amazon, 
.amazon:hover {
    background-color: #f0c14b;
}

.btn:focus, .btn-large:focus, .btn-small:focus, .btn-floating:focus {
    background-color:#f0c14b;
}

.upvote {
    margin-left: 10px;
}


/* -- Media Queries -- */

@media (max-width: 800px) {

nav .brand-logo {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    margin: 0;
}

}