{% extends 'base.html' %}
{% block content%}
<!-- 404 error page content -->
<h3 class="center-align">ERROR 404</h3>

    <!-- top jumbo image -->
    <div class="row">
        <div class="col s12">
            <div class="card jumbo-card">
                <div class="card-image">
                    <img src="static/images/cyberpunk-2077-main.jpg">
                </div>
                <div class="card-content center-align">
                    <strong><p class="jumbo-title">This is a Game review Website, you can come and read reviews, then write some of your own.</p></strong>
                </div>
            </div>
        </div>
    </div>

{% endblock %}