{% extends "base.html" %} {% block content %}

    <h3 class="center-align">Add Game Review</h3>

    <div class="row card-panel light-green lighten-5">
        <form class="col s12" method="POST" action="">
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-gamepad green-text text-darken-2 prefix"></i>
                    <input id="game_name" name="game_name" minlength="5" maxlength="50"
                        type="text" class="validate" required/>
                    <label for="game_name">Game Title</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-building green-text text-darken-2 prefix"></i>
                    <input id="game_developer" name="game_developer" minlength="5" maxlength="50"
                        type="text" class="validate" required/>
                    <label for="game_developer">Game Developer</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-folder-open green-text text-darken-2 prefix"></i>
                    <select id="genre_name" name="genre_name" class="validate" required>
                        <option value="" disabled selected>Pick The Genre</option>
                        {% for genre in genre %}
                            <option value="{{ genre.genre_name }}">{{ genre.genre_name }}</option>
                        {% endfor %}
                    </select>
                    <label for="genre_name">Game Genre</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-pencil-alt green-text text-darken-2 prefix"></i>
                    <textarea id="game_description" name="game_description" minlength="5"
                        maxlength="150" class="materialize-textarea validate" required></textarea>
                    <label for="game_description">Game Description</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-search green-text text-darken-2 prefix"></i>
                    <textarea id="game_review" name="game_review" minlength="5"
                        maxlength="500" class="materialize-textarea validate" required></textarea>
                    <label for="game_review">Game Review</label>
                </div>
            </div>
        </form>
    </div>

{% endblock %}

