{% extends "base.html" %}
{% block content %}

    {% for game in games %}
        {{ game.game_name }}<br>
        {{ game.genre_name }}<br>
        {{ game.game_developer }}<br>
        {{ game.game_description }}<br>
        {{ game.game_review }}<br>
    {% endfor %}

    <ul class="collapsible">
        <li>
            <div class="collapsible-header white-text light-blue darken-4"><i class="fas fa-caret-down"></i>First</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
            <div class="collapsible-header white-text light-blue darken-4"><i class="fas fa-caret-down"></i>Second</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
            <div class="collapsible-header white-text light-blue darken-4"><i class="fas fa-caret-down"></i>Third</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
    </ul>

{% endblock %}