{% extends "base.html" %} 
{% block content %}

<h3 class="center-align">Manage Genres</h3>

<div class="row">
    {% for genre in genre %}
        <div class="col s12 m3">
            <div class="card light-green lighten-5 center-align">
                <div class="card-content green-text">
                    <span class="card-title">{{ genre.genre_name }}</span>
                </div>
                <div class="card-action">
                    <a href="#" class="edit waves-effect waves-light btn blue">Edit Genre</a>
                    <a href="#" class="edit modal-trigger waves-effect waves-light btn red">Delete Genre</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}