{% extends "base.html" %} 
{% block content %}

<h3 class="center-align">Manage Genres</h3>

<div class="row">
    <div class="col s12 center-align">
        <a href="{{ url_for('add_genre') }}" class="edit btn-large green darken-2">
            Add Genre <i class="fas fa-plus-circle right"></i>
        </a>
    </div>
</div>

<div class="row">
    {% for genre in genre %}
        <div class="col s12 m3">
            <div class="card light-green lighten-5 center-align">
                <div class="card-content green-text">
                    <span class="card-title">{{ genre.genre_name }}</span>
                </div>
                <div class="card-action">
                    <a href="{{ url_for('edit_genre', genre_id=genre._id) }}" class="edit waves-effect waves-light btn blue">Edit Genre</a>
                    <a href="#" class="edit modal-trigger waves-effect waves-light btn red">Delete Genre</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}