{% extends "base.html" %} {% block content %}

    <!-- top profile card -->
    <div class="row">
        <div class="col s12">
            <div class="card jumbo-card">
                <div class="card-image">
                    <img src="/static/images/halo-infinite-profile.jpg">
                </div>
                <div class="card-content center-align">
                    <strong><p class="user-title">
                        {{ username }}'s Reviews
                    </p></strong>
                    <hr>
                    <strong><p class="jumbo-title">This is your profile page. You can view all your reviews here. And also delete your account.</p></strong>
                    <a href="#modal-delete-account" class="edit modal-trigger waves-effect waves-light btn red">Delete Account</a>
                </div>
            </div>
        </div>
    </div>

    <div id="modal-delete-account" class="modal">  <!-- modal for delete confirmation -->
        <div class="modal-content center-align">
            <strong><h4 class="red-text">WARNING!</h4></strong>
            <p>YOU ARE ABOUT TO DELETE YOUR ACCOUNT</p>
            <p>ALL YOUR PROFILE AND REVIEWS WILL DE DELETED AS WELL</p>
            <p>ARE YOU SURE YOU WANT TO DO THIS?</p>
        </div>
        <div class="modal-footer">
            <a href="{{ url_for('delete_profile', username=session['user']) }}" class="edit modal-close waves-effect waves-light btn red">Delete Account!</a>
            <a href="#!" class="edit modal-close waves-effect waves-green green btn-flat">Cancel</a>
        </div>
    </div>

    <!-- cards for displaying db content for specific user -->
    <div class="row">
        {% for game in games %}
        <div class="col s12 m4">
            <div class="card large">
                <div class="card-image">
                    <img src="{{ game.game_image }}" alt="game image">
                </div>
                <div class="card-content">
                    <span class="card-title"><strong>{{ game.game_name }}</strong></span>
                    <hr>
                    <span class="card-title"><strong>Game Description</strong></span>
                    <p>{{ game.game_description }}</p>
                </div>
                <div class="card-action center-align">
                    <a class="green-text" href="{{ url_for('review', game_id=game._id) }}">Game Review</a>
                    <span><strong>Stars:</strong></span><span>  {{ game.upvote }}</span>
                    <i class="fas fa-star green-text text-darken-2"></i>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}